
@font-face {
  font-family: 'VNI-Colonna';
  src: url('VNI-Colonna.eot?#iefix') format('embedded-opentype'),  url('VNI-Colonna.woff') format('woff'), url('VNI-Colonna.ttf')  format('truetype'), url('VNI-Colonna.svg#VNI-Colonna') format('svg');
  font-weight: normal;
  font-style: normal;
}
