
@font-face {
  font-family: 'VNI-Bandit';
  src: url('VNI-Bandit.eot?#iefix') format('embedded-opentype'),  url('VNI-Bandit.woff') format('woff'), url('VNI-Bandit.ttf')  format('truetype'), url('VNI-Bandit.svg#VNI-Bandit') format('svg');
  font-weight: normal;
  font-style: normal;
}
