
@font-face {
  font-family: 'VNI-AlgerianU';
  src: url('VNI-AlgerianU.eot?#iefix') format('embedded-opentype'),  url('VNI-AlgerianU.woff') format('woff'), url('VNI-AlgerianU.ttf')  format('truetype'), url('VNI-AlgerianU.svg#VNI-AlgerianU') format('svg');
  font-weight: normal;
  font-style: normal;
}
